:root {
    --primari-text-color: #757575;
    --second-color: #212121;
    --accent-color: #2196f3;
    --whitw-color-texte: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primari-text-color);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.top-section {
    border-bottom: 1px solid #EEEEEE;
    height: 80px;
    display: flex;
}

.nav-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-transform: capitalize;
    color: var(--second-color);
    text-decoration: none;
    margin-right: 93px;
}

.nav-logo-colored {
    color: var(--accent-color);
}

.nav-logo-light {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-transform: capitalize;
    color: var(--whitw-color-texte);
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-list:not(:last-child) {
    margin-right: 50px;
}

.navbar-item {
    display: flex;
}

.nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--second-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-link:hover {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color)
}

.contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contacts-list:not(:last-child) {
    margin-right: 50px;
}

.contact-link {
    color: var(--primari-text-color);
    text-decoration: none;
    font-weight: 500;
}

.contact-link:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.footer-list {
    margin-top: 20px;
}

.contact-link-light {
    font-weight: 500;
    color: rgb(255, 255, 255, 0.6);
}

.contact-link-light:focus {
    color: var(--accent-color);
}

.hero-section {
    padding: 200px 0;
    background-color: #2F303A;
    background-image: url(../image/bgimg.jpg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titel-text {
    font-size: 44px;
    letter-spacing: 0.06em;
    font-weight: 900;
    color: var(--whitw-color-texte);
    text-align: center;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.btn-primary {
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--whitw-color-texte);
    align-items: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    background-color: var(--accent-color);
}

.features {
    display: flex;
}

.features-list:not(:last-child) {
    margin-right: 30px;
}

.features-title {
    font-size: 14px;
    font-weight: 700;
    color: var(--second-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-text {
    color: var(--primari-text-color);
}

.subtitel-big {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.18;
    color: var(--second-color);
    text-align: center;
    margin-bottom: 50px;
}

.work-specifications-list {
    display: flex;
}

.work-specifications-item:not(:last-child) {
    margin-right: 30px;
}

.team-bg {
    background-color: #F5F4FA;
}

.team-gallery {
    display: flex;
}

.team-gallery-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-gallery-item:not(:last-child) {
    margin-right: 30px;
}

.team-gallery-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--second-color);
    margin-bottom: 10px;
}

.team-gallery-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.border-name {
    text-align: center;
    padding: 30px 0;
    background-color: #FFFFFF;
}

.porfolio-title {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.filter-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--second-color);
}

.ftr-button {
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    border: transparent;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.ftr-button:hover,
.ftr-button:focus {
    background-color: var(--accent-color);
    color: var(--whitw-color-texte);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.portfolio-item {
    margin: 15px;
}

.porfolio-link {
    display: block;
}

.subtitle-portfolio {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-color);
    margin-bottom: 4px;
}

.portfolio-text {
    color: var(--primari-text-color);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.9;
}

.portfolio-text-planting {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 25px;
}

.address {
    color: var(--second-color);
}

.address-light {
    line-height: 1.7;
    color: var(--whitw-color-texte);
    padding-bottom: 9px;
}

.contact-link-light {
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 255, 255, 0.6);
}

.contact-margin {
    margin-bottom: 6px;
}

.container,
.container-footer {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container-flex {
    display: flex;
}

.filter-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.porfolio-bg {
    background: #E5E5E5;
}

.work-pd {
    padding-top: 0px;
}

.footer-custom {
    background-color: #2F303A;
    padding: 60px 0;
}

.contact-svg-mail {
    width: 16px;
    height: 12px;
    fill: #757575;
}

.contact-svg-phone {
    width: 10px;
    height: 16px;
}

.features-svg {
    width: 70px;
    height: 70px;
    background-color: #F5F4FA;
    border-radius: 4px;
    padding: 25px 100px;
    margin-bottom: 30px;
}